# Solution One
1. First field: "DATAFLOW" TEXT  
I will ignore now because I believe that flows do not interact 
so will have different tables (or even databases) for each flow
(the flows separation hipotesys must be verified with the owner)

2. These are the fields that will form the key (__group1__)

  "FREQ" TEXT,  
  "TIME_PERIOD" INTEGER,  
  "REF_AREA" TEXT=? AND  
  "INDICATOR" TEXT,  
  "ACTIVITY" TEXT,  
  "NUMBER_EMPL" TEXT,  
  "PRODUCT" TEXT,  
  "TURNOVER" TEXT,  
  "CLIENT_RESIDENCE" TEXT,  
  "UNIT_MEASURE" TEXT,  
  "UNIT_MULT" TEXT,  
  "DECIMALS" TEXT,  

3. These are the fields that will form the value (__group2__)

  "OBS_STATUS" TEXT,
  "OBS_STATUS_1" TEXT,
  "CONF_STATUS" TEXT,
  "CONF_STATUS_1" TEXT,
  "OBS_VALUE" REAL,

4. I don't know what are these next fields
(maybe a real example will help, or asking the owner)
(for now I ignore them)

  "DOMINANCE" REAL,  
  "SHARE_SECOND" REAL,  
  "COMMENT_OBS" REAL  

## Structure:
1. Will be a table for keys:  
Flow1Keys(id primary key, unique(group1))

2. And a table for values:  
Flow1Values(timestamp, keyId, group2)
- timestamp is an INTEGER and there are some functions

## Operations:
1. Adding a row (group11, group21):
    - try to insert a key if do not exists (group11)
    - get the keyId for group11
    - add group21 to values if the latest timestamp for keyId has different values (group21 != group2(last timestamp))

2. Get the last value for a key
3. Get the last value for a key before a timestamp (snapshot)
4. Get history for a key

## Some questions:
- What means a transaction in this context?
- Performance?
- Last values for a key and all others to be in different tables?

In [1]:
# create database
import sqlite3

DB_FILE = 'solution1.db'
# Connect to a new database
with sqlite3.connect(DB_FILE) as conn:
    # Open the SQL script file
    with open('solution1.sql', 'r') as f:
        # Read the entire file contents
        sql_script = f.read()
        # Execute the script on the database connection
        conn.executescript(sql_script)

In [2]:
# now print the DB structure
# Connect to the database
with sqlite3.connect(DB_FILE) as conn:
    # Create a cursor object
    cursor = conn.cursor()
    # Query the database for a list of tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
    tables = cursor.fetchall()
    # Iterate over each table and print its structure
    for table_name in tables:
        # Print the table name
        print(f'Table: {table_name[0]}')
        # Query the database for the columns in the table
        cursor.execute(f"PRAGMA table_info({table_name[0]})")
        columns = cursor.fetchall()
        # Print the columns and their properties
        for col in columns:
            print(f'  {col[1]} ({col[2]}) {"PRIMARY KEY" if col[5] == 1 else ""} {"NOT NULL" if col[3] == 1 else ""}')
        # Print a blank line to separate tables
        print('')

Table: flow1keys
  id (INTEGER) PRIMARY KEY
  FREQ (TEXT(1))
  TIME_PERIOD (INTEGER)
  REF_AREA (TEXT(2))
  INDICATOR (TEXT(4))
  ACTIVITY (TEXT)
  NUMBER_EMPL (TEXT)
  PRODUCT (TEXT(2))
  TURNOVER (TEXT(2))
  CLIENT_RESIDENCE (TEXT(2))
  UNIT_MEASURE (TEXT(3))
  UNIT_MULT (TEXT(1))
  DECIMALS (TEXT(1))

Table: flow1values
  timestamp (INTEGER)
  keyID (INTEGER)
  OBS_STATUS (TEXT(1))
  OBS_STATUS_1 (TEXT(1))
  CONF_STATUS (TEXT(1))
  CONF_STATUS_1 (TEXT(1))
  OBS_VALUE (REAL)

In [4]:
# function for insert, transactioned
import sqlite3
import time

def process_set(conn, data_set):
    # Connect to the database
    c = conn.cursor()
    # Start a transaction
    c.execute('BEGIN TRANSACTION')
    for freq, time_period, ref_area, indicator, activity, number_empl, product, turnover, client_residence, unit_measure, unit_mult, decimals, \
        obs_status, obs_status_1, conf_status, conf_status_1, obs_value in data_set:
        # Convert (col1, ... colN) to keyID
        c.execute('SELECT id FROM flow1keys WHERE freq=? AND time_period=? AND ref_area=? AND indicator=? AND activity=? AND number_empl=? AND product=? AND turnover=? AND client_residence=? AND unit_measure=? AND unit_mult=? AND decimals=?', \
                  (freq, time_period, ref_area, indicator, activity, number_empl, product, turnover, client_residence, unit_measure, unit_mult, decimals))
        result = c.fetchone()
        if result:
            keyID = result[0]
        else:
            # If (col1, ... colN) doesn't exist in flow1keys, insert a new row and get the keyID
            c.execute('INSERT INTO flow1keys (freq, time_period, ref_area, indicator, activity, number_empl, product, turnover, client_residence, unit_measure, unit_mult, decimals) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)', \
                      (freq, time_period, ref_area, indicator, activity, number_empl, product, turnover, client_residence, unit_measure, unit_mult, decimals))
            keyID = c.lastrowid

        # Check if the latest entry for the (keyID, value...) pair has a different value
        c.execute('SELECT obs_status, obs_status_1, conf_status, conf_status_1, obs_value FROM flow1values WHERE keyID=? ORDER BY timestamp DESC LIMIT 1', (keyID,))
        result = c.fetchone()
        if not result or \
            (result[0] != obs_status and result[1] != obs_status_1 and result[2] != conf_status and result[3] != conf_status_1 and result[4] != obs_value):
            # Insert a new row in flow1values
            timestamp = int(time.time())
            c.execute('INSERT INTO flow1values (timestamp, keyID, obs_status, obs_status_1, conf_status, conf_status_1, obs_value) VALUES (?, ?, ?, ?, ?, ?, ?)', \
                       (timestamp, keyID, obs_status, obs_status_1, conf_status, conf_status_1, obs_value))
    # Commit the transaction
    conn.commit()

# and a little example
dataset = (
    ('A', 2021, 'LT', 'ENT', 'B071', '_T', '_Z', '_Z', '_Z', 'BGN', '3', '2', 'P', 'L', 'M', 'T', 465784.79),
    ('A', 2021, 'ME', 'EMPL', 'N', 'E20T49', '_Z', '_Z', '_Z', 'HUF', '3', '5', 'U', 'D', 'C', 'O', 866343.37),
    ('A', 2020, 'HU', 'EMPL', 'J639', 'E2T9', '_Z', '_Z', '_Z', 'TRY', '0', '5', 'L', 'L', 'O', 'M', 973961.01)
)

# Connect to the database
with sqlite3.connect(DB_FILE) as conn:
    process_set(conn, dataset)

In [10]:
# a little visualization of data in DB
with sqlite3.connect(DB_FILE) as conn:
    # Create a cursor object to execute SQL commands
    cur =conn.cursor()
    # Execute a SELECT statement to fetch all rows from the table
    cur.execute("SELECT * FROM flow1keys")
    # Fetch all rows and print them
    rows = cur.fetchall()
    print('flow1keys')
    if len(rows): 
        for row in rows:
            print(row)
    else:
        print('nothing to print')
    cur.execute("SELECT * FROM flow1values")
    # Fetch all rows and print them
    rows = cur.fetchall()
    print('flow1values')
    if len(rows): 
        for row in rows:
            print(row)
    else:
        print('nothing to print')
    cur.close()

flow1keys
(1, 'A', 2021, 'LT', 'ENT', 'B071', '_T', '_Z', '_Z', '_Z', 'BGN', '3', '2')
(2, 'A', 2021, 'ME', 'EMPL', 'N', 'E20T49', '_Z', '_Z', '_Z', 'HUF', '3', '5')
(3, 'A', 2020, 'HU', 'EMPL', 'J639', 'E2T9', '_Z', '_Z', '_Z', 'TRY', '0', '5')
flow1values
(1676572407, 1, 'P', 'L', 'M', 'T', 465784.79)
(1676572407, 2, 'U', 'D', 'C', 'O', 866343.37)
(1676572407, 3, 'L', 'L', 'O', 'M', 973961.01)

In [7]:
# try to add first one again
dataset = (
    ('A', 2021, 'LT', 'ENT', 'B071', '_T', '_Z', '_Z', '_Z', 'BGN', '3', '2', 'P', 'L', 'M', 'T', 465784.79),
    )

# Connect to the database
with sqlite3.connect(DB_FILE) as conn:
    process_set(conn, dataset)

In [9]:
# now with a different obs_value
# TODO: find out why is not working
dataset = (
    ('A', 2021, 'LT', 'ENT', 'B071', '_T', '_Z', '_Z', '_Z', 'BGN', '3', '2', 'P', 'L', 'M', 'T', 465750.33),
    )

# Connect to the database
with sqlite3.connect(DB_FILE) as conn:
    process_set(conn, dataset)